---
import ImageMod from "@/components/ImageMod.astro";
import IndexHome from "@/layouts/ScreensReact";
import HeaderNav from "@/layouts/components/HeaderNav.astro";
import { t, changeLanguage } from "i18next";
const { call_to_action } = Astro.props;
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import AutoImport from "astro-auto-import";
import type { Button, Feature } from "@/types";
import { getEntry } from "astro:content";
import { FaCheck } from "react-icons/fa";
// import { localizePath } from "astro-i18next";



changeLanguage("en");

export const prerender = true;
---
<Base meta_title={t("SiteDetails.title")!} description={t("SiteDetails.description")!}>
 <HeaderNav/>

<section class="bg-white dark:bg-gray-900">
	<div class="container px-4 py-16 xl:p-10">


<div class="relative p-4">
    <div class="max-w-5xl mx-auto">
        <div
            class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
            <div class="">

                <h1 href="#" class="text-gray-900 font-bold text-3xl">{t("top.title")}</h1>
                <hr>
                <p class="text-base leading-8 my-5">{t("top.description")}</p>
		<p class="text-base leading-8 my-5">{t("top.highlight")}</p>




  <div class="bg-color mx-auto w-full max-w-5xl px-5 py-16 md:px-10 md:py-20"> 
	<!-- Component --> 
		<div class="grid items-center gap-8 sm:gap-20 lg:grid-cols-2"> 
			<!-- Image --> 
			<div class="[grid-area:2/1/3/2] lg:[grid-area:1/1/2/2]"> 
		<img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&amp;token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="h-full w-full max-w-2xl object-cover"> </div> <div class="max-w-3xl"> 
			<!-- Title --> 
			<h1 class="mb-4 text-white text-center text-3xl font-bold md:text-5xl">SAVE INSTA</h1> 
			<center><svg height="152px" width="152px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#ffffff;} </style> <g> <path class="st0" d="M230.546,324.601c6.688,6.703,15.969,10.547,25.454,10.547c9.469,0,18.75-3.844,25.453-10.547L398.422,207.64 c14.062-14.054,14.062-36.851,0-50.906c-14.062-14.062-36.859-14.062-50.906,0v-0.007L292,212.242V38.188c0-19.883-16.125-36-36-36 c-19.89,0-36,16.117-36,36v174.046l-55.5-55.5c-14.062-14.062-36.859-14.062-50.906-0.007c-14.062,14.062-14.062,36.859,0,50.914 L230.546,324.601z"></path> <path class="st0" d="M473.453,383.148H333.406c-13.36,29.469-42.954,50-77.406,50c-34.454,0-64.047-20.531-77.39-50H38.562 C17.266,383.148,0,400.406,0,421.696v49.562c0,21.297,17.266,38.554,38.562,38.554h434.89c21.297,0,38.547-17.258,38.547-38.554 v-49.562C512,400.406,494.75,383.148,473.453,383.148z"></path> </g> </g></svg></center> 
			<!-- Button --> 
	<div class="mb-6 flex items-center md:mb-10 lg:mb-12"> 
        <p className="mb-6 max-w-2xl text-sm text-gray-500 sm:text-xl md:mb-10 lg:mb-12"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus </p> {/* Button */} <div className="mb-6 flex items-center md:mb-10 lg:mb-12">
	</div> 
		<!-- Socials --> 
	<div class="flex items-center"> 
		<p class="text-sm sm:text-base">Follow Us</p> 
		<!-- Divider --> 
		<div class="ml-4 mr-4 w-10 border-t border-black"></div> 
		<a href="#"> <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94172fe6cf9e_Frame%2047894%20(2).svg" alt="" class="mr-4 inline-block"> </a> 
		<a href="#"> <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a941e0ee6cf9d_Frame%2047894.svg" alt="" class="mr-4 inline-block"> </a> 
		<a href="#" class="inline-block max-w-full text-black"> <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9452ece6cf9f_Frame%2047894%20(1).svg" alt="" class="mr-4 inline-block"> </a> 
	</div> 
</div> 
</div>
</div>




                <h2 class="text-2xl font-bold my-5">{t("top.heading")}</h2>
                <p class="text-base leading-8 my-5">{t("top.heading-text")}</p>

		<h2 class="text-2xl font-bold my-5 mb-4"> {t("videos.snapInfotitle")}</h2> 
		<p class="text-base leading-8 my-5">{t("videos.texpg")} <a href="/video" class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">{t("videos.link3")}</a>. {t("photo.toptext")} <a href="/instagram-reels-video-download" class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">{t("reels.pg3link")}</a>. SaveInsta {t("videos.texpg1")} <a href="/instagram-photo-download" class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">{t("videos.link2")}</a>.</p>
		
		<h2 class="text-2xl font-bold my-5 mb-4"> {t("top.why")}</h2> 
		<p class="text-base leading-8 my-5">{t("top.why-text")}</p>
		<p class="text-base leading-8 my-5">{t("top.why-text1")}</p>

		<h2 class="text-2xl font-bold my-5 mb-4"> {t("top.feature")}</h2> 
                <p class="text-base leading-8 my-5">{t("top.ftext")}</p>
		<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal"><strong><a href={`/`} class="text-base text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"> {t("videos.title")} </a></strong>: {t("videos.secVideo")}</p> 
		<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal"><strong><a href={`/instagram-reels-video-download/`} class="text-base text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"> {t("videos.igreeltitle")}</a></strong>: {t("videos.secreel")}</p> 
		<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal"><strong><a href={`/instagram-photo-download/`} class="text-base text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"> {t("videos.igphtitle")}</a></strong>: {t("videos.secPhoto2")}</p> 
		<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal"><strong"><a href={`/instagram-story-download/`} class="text-base text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out"> {t("stories.htitle")}</a></strong>: {t("videos.secstory")}</p> 


 
 

 



                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Election
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #people
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Election2020
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #trump
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Joe
                </a>

            </div>

        </div>
    </div>
</div>







			<div class="lg:col-7 md:col-9 mb-8 text-center">
				<h1 class="text-center" style="font-size:1.75rem; font-weight:500">{t("videos.title")}</h1>
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.support")}</p> 
			</div>




</div>




<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
        SaveInsta Downloader
      </p>
    </div>
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-2xl md:mx-auto">
      <span class="relative inline-block">
       
      </span>
     {t("videos.howto")}
    </h2>
    <p class="text-base text-gray-700 md:text-lg"><strong>{t("videos.howtonote")}</strong>{t("videos.how2note")}</p>
  </div>
  <div class="grid gap-8 row-gap-8 lg:grid-cols-3">
    <div class="sm:text-center">
      <div class="flex items-center justify-center w-24 h-24 mb-4 text-5xl font-extrabold rounded-full text-deep-purple-accent-400 bg-indigo-50 sm:mx-auto">
        1
      </div>
      <h3 class="mb-2 font-normal text-xl leading-5">{t("videos.howtouse")}</h3>
      <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">{t("videos.1step")}</p>
    </div>
    <div class="sm:text-center">
      <div class="flex items-center justify-center w-24 h-24 mb-4 text-5xl font-extrabold rounded-full text-deep-purple-accent-400 bg-indigo-50 sm:mx-auto">
        2
      </div>
      <h3 class="mb-2 font-normal text-xl leading-5">{t("videos.howto2")}</h3>
      <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">{t("videos.2step")}</p>
    </div>
    <div class="sm:text-center">
      <div class="flex items-center justify-center w-24 h-24 mb-4 text-5xl font-extrabold rounded-full text-deep-purple-accent-400 bg-indigo-50 sm:mx-auto">
        3
      </div>
      <h3 class="mb-2 font-normal text-xl leading-5">{t("videos.howto3")}</h3>
      <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">{t("videos.3step")}</p>
    </div>
  </div>
</div>




  <div class="mr-auto ml-auto max-w-xl sm:mx-auto lg:max-w-2xl">
  <div class="mt-0 mr-0 mb-16 ml-0 flex flex-col sm:text-center">
   
    <div class="mt-0 mr-auto mb-6 ml-auto text-3xl font-bold leading-none tracking-tight text-gray-900 max-w-lg
        font-sans sm:text-4xl md:mx-auto">
      <div class="relative">
        
        <p class="font-bold text-gray-900 text-3xl inline tracking-tight relative font-sans sm:text-4xl
            sm:leading-none">{t("videos.faqh")}</p>
      </div>
    </div>
  </div>
<p class="text-gray-700 text-base md:text-lg">{t("videos.tos")}</p>
 
  <div class="space-y-4">
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">{t("videos.faqq1")}</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">{t("videos.faqa1")}</p>
      </div>
    </div>
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">{t("videos.faqq2")}</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">{t("videos.faqa2")}</p>
      </div>
    </div>
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">{t("videos.faqq3")}</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">{t("videos.faqa3")}</p>
      </div>
    </div>
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">How much money you got on you?</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            rem aperiam, eaque ipsa quae.</p>
      </div>
    </div>
  </div>
</div> 
   
  



        </div>
		</div>
    </section>


</Base>
