---
import ImageMod from "@/components/ImageMod.astro";
import IndexHome from "@/layouts/ScreensReact";
import HeaderNav from "@/layouts/components/HeaderNav.astro";
import { t, changeLanguage } from "i18next";
const { call_to_action } = Astro.props;
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import AutoImport from "astro-auto-import";
import type { Button, Feature } from "@/types";
import { getEntry } from "astro:content";
import { FaCheck } from "react-icons/fa";
// import { localizePath } from "astro-i18next";



changeLanguage("en");

export const prerender = true;
---
<Base meta_title={t("SiteDetails.title")!} description={t("SiteDetails.description")!}>
 <HeaderNav/>

<section class="bg-white dark:bg-gray-900">
	<div class="container px-4 py-16 xl:p-10">


<div class="relative p-4">
    <div class="max-w-5xl mx-auto">
        <div
            class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
            <div class="">

                <h1 href="#" class="text-gray-900 font-bold text-3xl">{t("top.title")}</h1>
                <hr>
                <p class="text-base leading-8 my-5">{t("top.description")}</p>
		<p class="text-base leading-8 my-5">{t("top.highlight")}</p>

                <h2 class="text-2xl font-bold my-5">{t("top.heading")}</h2>

                <p class="text-base leading-8 my-5">{t("top.heading-text")}</p>
		<h2 class="text-2xl font-bold my-5 mb-4"> {t("videos.snapInfotitle")}</h2> 
		<p class="text-base leading-8 my-5">{t("videos.texpg")} <a href="/video" class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">{t("videos.link3")}</a>. {t("photo.toptext")} <a href="/instagram-reels-video-download" class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">{t("reels.pg3link")}</a>. SaveInsta {t("videos.texpg1")} <a href="/instagram-photo-download" class="font-semibold text-gray-900 underline dark:text-white decoration-indigo-500">{t("videos.link2")}</a>.</p>
		<h2 class="text-2xl font-bold my-5 mb-4"> {t("top.howto")}</h2> 
                <p class="text-base leading-8 my-5">{t("top.howto-text")}</p>



 

  <!-- Container -->
  <div class="mx-auto w-full max-w-5xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
    <!-- Component -->
    <div class="flex flex-col items-center">
      <!-- Item -->
      <div class="relative">
        <div class="absolute w-1 md:w-2 bg-black h-full left-1/2 transform -translate-x-1/2"></div>
        <div class="mb-20 mt-20 flex items-center w-full">
          <div class="w-1/2 text-right pr-5 md:pr-12">
            <div class="inline-block bg-gray-100 px-4 py-2 rounded-lg">
              <h5 class="text-lg md:text-2xl font-semibold">Step 1</h5>
            </div>
          </div>
          <div class="w-4 h-4 md:w-5 md:h-5 rounded-full bg-black"></div>
          <div class="w-1/2 pl-5 md:pl-12">
            <svg class="mb-4" width="20" height="31" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9848 9.10266C15.8859 9.17418 16.7155 9.2457 17.5452 9.31722C17.7311 9.33152 17.9171 9.36013 18.0744 9.43165C18.3891 9.56039 18.5464 9.81785 18.575 10.1755C18.6036 10.6475 18.5178 11.0909 18.3462 11.52C18.1459 12.035 17.9314 12.5356 17.6882 13.0219C17.1017 14.2234 16.4581 15.3964 15.7572 16.5407C14.3697 18.7721 12.9965 20.9892 11.652 23.2492C11.0083 24.322 10.479 25.452 9.87828 26.5391C9.27752 27.6405 8.64815 28.7419 8.04739 29.8433C7.7184 30.4583 7.16055 30.7587 6.54548 30.9447C5.83029 31.1592 5.08649 30.7301 4.85762 30.0149C4.68598 29.4714 4.67167 28.9135 4.88623 28.3986C5.27244 27.4688 5.71586 26.5677 6.15928 25.6665C6.30231 25.3805 6.53118 25.1516 6.81725 24.98C7.24637 24.7225 7.47523 24.8083 7.58966 25.2803C7.60397 25.3233 7.60397 25.3662 7.63257 25.4806C7.7327 25.3376 7.80422 25.2517 7.86144 25.1516C8.8198 23.6068 9.69233 22.0048 10.479 20.3598C11.7092 17.7851 13.0824 15.2962 14.4555 12.7931C14.6558 12.4212 14.8989 12.0779 15.1135 11.706C15.1707 11.6058 15.2279 11.52 15.2995 11.3913C14.7988 11.3627 14.3411 11.3341 13.8977 11.3055C13.7689 11.2912 13.6974 11.3627 13.6259 11.4771C13.4543 11.7489 13.2826 12.0207 13.111 12.2924C12.7534 12.8932 12.2241 13.165 11.5232 13.1077C11.323 13.0934 11.1084 13.0934 10.9082 13.0362C10.3646 12.9075 10.0928 12.4212 10.2359 11.8776C10.2788 11.7203 10.3503 11.5772 10.4218 11.4342C11.7807 9.00253 13.1253 6.58518 14.4984 4.16783C14.8989 3.46694 15.3567 2.79465 15.7858 2.09376C15.843 1.99364 15.9002 1.90781 15.9717 1.77908C15.7715 1.76478 15.6284 1.76478 15.4711 1.73617C15.1135 1.67895 14.9276 1.4787 14.8846 1.16401C14.856 0.920847 14.9419 0.763504 15.1707 0.663377C15.3138 0.606161 15.4139 0.506034 15.5283 0.420211C15.657 0.320084 15.843 0.219957 16.0146 0.219957C16.7012 0.177045 17.3592 0.148438 18.0315 0.148438C18.2747 0.148438 18.5321 0.191349 18.7753 0.248565C19.2759 0.362996 19.5048 0.734896 19.3618 1.22123C19.2902 1.4787 19.1758 1.73617 19.0185 1.96503C18.4606 2.73744 17.9743 3.56706 17.5452 4.4396C16.8157 5.9129 16.0289 7.34329 15.185 8.74506C15.1278 8.84519 15.0706 8.94532 14.9848 9.10266Z" fill="black" />
              <path d="M4.87632 14.9834L4.79032 14.5534L4.35277 14.5825C4.30458 14.5858 4.25691 14.589 4.20969 14.5921C3.83277 14.6174 3.4841 14.6409 3.12436 14.6533L3.11634 14.6535L3.10833 14.6541C2.46439 14.697 1.81152 14.7396 1.17406 14.7679L1.16026 14.7685L1.14651 14.7699C1.03678 14.7808 0.94154 14.7809 0.831866 14.7699C0.677975 14.754 0.596687 14.6919 0.555839 14.6352C0.515038 14.5786 0.481819 14.4819 0.510947 14.3344L0.513246 14.3253L0.516274 14.3137L0.527735 14.2965L0.547744 14.244C1.20286 12.5262 1.66648 10.7707 2.09628 9.02293C2.58181 7.09509 3.08174 5.16678 3.58198 3.25157C3.63055 3.07125 3.68276 2.89019 3.73643 2.70413L3.73703 2.70207C3.7899 2.51878 3.84419 2.33059 3.8951 2.14165C3.95121 1.94684 4.02296 1.82903 4.09688 1.75763C4.16417 1.69263 4.26295 1.63678 4.43721 1.61824C4.69242 1.59268 4.9451 1.55887 5.18784 1.52639C5.22649 1.52121 5.26488 1.51608 5.30299 1.51101C5.58364 1.47371 5.85274 1.43978 6.1222 1.41946C8.71033 1.26118 11.2954 0.973829 13.8547 0.673578C14.4896 0.603056 15.1394 0.546547 15.7755 0.504125C15.9643 0.492403 16.1368 0.505498 16.2868 0.545492L16.2867 0.545682L16.3004 0.548915C16.4353 0.58087 16.4983 0.648803 16.527 0.709278C16.5572 0.772897 16.5704 0.874466 16.5159 1.00494C16.4668 1.11136 16.3952 1.21597 16.292 1.36337L16.2864 1.37144L16.2811 1.37973C16.2111 1.48858 16.14 1.59806 16.0685 1.70816C15.883 1.99373 15.6948 2.28355 15.5162 2.57784L15.5161 2.57781L15.5129 2.58333C15.3279 2.89698 15.1447 3.2096 14.962 3.52123C14.4917 4.32359 14.0252 5.11942 13.5428 5.90963C12.8724 7.00802 12.1875 8.10676 11.5011 9.20783C11.3046 9.51661 11.1076 9.81204 10.9074 10.1124C10.8577 10.187 10.8061 10.2738 10.7505 10.3674C10.7323 10.3981 10.7136 10.4295 10.6944 10.4615L10.2401 11.2188H11.1232H11.124H11.1248H11.1257H11.1265H11.1273H11.1282H11.129H11.1298H11.1306H11.1315H11.1323H11.1331H11.1339H11.1348H11.1356H11.1364H11.1372H11.138H11.1388H11.1397H11.1405H11.1413H11.1421H11.1429H11.1437H11.1445H11.1453H11.1461H11.1469H11.1477H11.1485H11.1493H11.1501H11.1509H11.1517H11.1525H11.1533H11.1541H11.1549H11.1557H11.1564H11.1572H11.158H11.1588H11.1596H11.1604H11.1611H11.1619H11.1627H11.1635H11.1642H11.165H11.1658H11.1666H11.1673H11.1681H11.1689H11.1696H11.1704H11.1712H11.1719H11.1727H11.1735H11.1742H11.175H11.1757H11.1765H11.1772H11.178H11.1788H11.1795H11.1803H11.181H11.1818H11.1825H11.1833H11.184H11.1847H11.1855H11.1862H11.187H11.1877H11.1884H11.1892H11.1899H11.1907H11.1914H11.1921H11.1929H11.1936H11.1943H11.195H11.1958H11.1965H11.1972H11.198H11.1987H11.1994H11.2001H11.2008H11.2016H11.2023H11.203H11.2037H11.2044H11.2051H11.2059H11.2066H11.2073H11.208H11.2087H11.2094H11.2101H11.2108H11.2115H11.2122H11.2129H11.2136H11.2143H11.215H11.2157H11.2164H11.2171H11.2178H11.2185H11.2192H11.2199H11.2206H11.2213H11.222H11.2227H11.2234H11.224H11.2247H11.2254H11.2261H11.2268H11.2275H11.2281H11.2288H11.2295H11.2302H11.2309H11.2315H11.2322H11.2329H11.2336H11.2342H11.2349H11.2356H11.2362H11.2369H11.2376H11.2382H11.2389H11.2396H11.2402H11.2409H11.2416H11.2422H11.2429H11.2436H11.2442H11.2449H11.2455H11.2462H11.2468H11.2475H11.2481H11.2488H11.2495H11.2501H11.2508H11.2514H11.2521H11.2527H11.2533H11.254H11.2546H11.2553H11.2559H11.2566H11.2572H11.2579H11.2585H11.2591H11.2598H11.2604H11.261H11.2617H11.2623H11.2629H11.2636H11.2642H11.2648H11.2655H11.2661H11.2667H11.2674H11.268H11.2686H11.2692H11.2699H11.2705H11.2711H11.2717H11.2724H11.273H11.2736H11.2742H11.2748H11.2755H11.2761H11.2767H11.2773H11.2779H11.2785H11.2792H11.2798H11.2804H11.281H11.2816H11.2822H11.2828H11.2834H11.284H11.2847H11.2853H11.2859H11.2865H11.2871H11.2877H11.2883H11.2889H11.2895H11.2901H11.2907H11.2913H11.2919H11.2925H11.2931H11.2937H11.2943H11.2949H11.2955H11.2961H11.2966H11.2972H11.2978H11.2984H11.299H11.2996H11.3002H11.3008H11.3014H11.302H11.3025H11.3031H11.3037H11.3043H11.3049H11.3055H11.306H11.3066H11.3072H11.3078H11.3084H11.3089H11.3095H11.3101H11.3107H11.3113H11.3118H11.3124H11.313H11.3136H11.3141H11.3147H11.3153H11.3158H11.3164H11.317H11.3176H11.3181H11.3187H11.3193H11.3198H11.3204H11.321H11.3215H11.3221H11.3227H11.3232H11.3238H11.3244H11.3249H11.3255H11.326H11.3266H11.3272H11.3277H11.3283H11.3288H11.3294H11.33H11.3305H11.3311H11.3316H11.3322H11.3327H11.3333H11.3339H11.3344H11.335H11.3355H11.3361H11.3366H11.3372H11.3377H11.3383H11.3388H11.3394H11.3399H11.3405H11.341H11.3416H11.3421H11.3427H11.3432H11.3437H11.3443H11.3448H11.3454H11.3459H11.3465H11.347H11.3476H11.3481H11.3486H11.3492H11.3497H11.3503H11.3508H11.3513H11.3519H11.3524H11.3529H11.3535H11.354H11.3546H11.3551H11.3556H11.3562H11.3567H11.3572H11.3578H11.3583H11.3588H11.3594H11.3599H11.3604H11.361H11.3615H11.362H11.3626H11.3631H11.3636H11.3642H11.3647H11.3652H11.3657H11.3663H11.3668H11.3673H11.3678H11.3684H11.3689H11.3694H11.37H11.3705H11.371H11.3715H11.3721H11.3726H11.3731H11.3736H11.3741H11.3747H11.3752H11.3757H11.3762H11.3768H11.3773H11.3778H11.3783H11.3788H11.3794H11.3799H11.3804H11.3809H11.3814H11.382H11.3825H11.383H11.3835H11.384H11.3845H11.3851H11.3856H11.3861H11.3866H11.3871H11.3876H11.3882H11.3887H11.3892H11.3897H11.3902H11.3907H11.3912H11.3918H11.3923H11.3928H11.3933H11.3938H11.3943H11.3948H11.3953H11.3959H11.3964H11.3969H11.3974H11.3979H11.3984H11.3989H11.3994H11.3999H11.4005H11.401H11.4015H11.402H11.4025H11.403H11.4035H11.404H11.4045H11.405H11.4055H11.406H11.4066H11.4071H11.4076H11.4081H11.4086H11.4091H11.4096H11.4101H11.4106H11.4111H11.4116H11.4121H11.4126H11.4131H11.4137H11.4142H11.4147H11.4152H11.4157H11.4162H11.4167H11.4172H11.4177H11.4182H11.4187H11.4192H11.4197H11.4202H11.4207H11.4212H11.4217H11.4222H11.4227H11.4232H11.4237H11.4243H11.4248H11.4253H11.4258H11.4263H11.4268H11.4273H11.4278H11.4283H11.4288H11.4293H11.4298H11.4303H11.4308H11.4313H11.4318H11.4323H11.4328H11.4333H11.4338H11.4343H11.4348C12.0289 11.2259 12.6226 11.2295 13.2147 11.233L13.2157 11.2331C13.8095 11.2366 14.4016 11.2402 14.9935 11.2473V11.2474H14.9995C15.0385 11.2474 15.0989 11.2544 15.1773 11.2672C15.3119 11.2979 15.384 11.3663 15.4185 11.4297C15.4536 11.4943 15.4714 11.5935 15.4203 11.7248L15.4197 11.7265C15.3793 11.8314 15.2968 11.9498 15.1704 12.1043L15.1646 12.1113L15.1591 12.1186C14.9681 12.3701 14.7734 12.623 14.5774 12.8775C14.1808 13.3925 13.7792 13.9139 13.3939 14.4436C13.103 14.8418 12.8471 15.2796 12.6251 15.7085C11.4667 17.9109 10.3217 20.1008 9.19065 22.3199C8.487 23.6843 7.79175 25.0627 7.09873 26.4367C6.63684 27.3525 6.17593 28.2663 5.71418 29.1726L5.71249 29.176C5.63461 29.3318 5.56315 29.4464 5.47716 29.5324L5.47709 29.5323L5.47003 29.5397C5.38478 29.6285 5.31464 29.6444 5.26562 29.6435C5.20929 29.6425 5.11915 29.617 5.01293 29.5201C4.84075 29.3566 4.76509 29.1901 4.75686 28.9926L4.75701 28.9926L4.75619 28.9802C4.74923 28.8759 4.74201 28.7723 4.73483 28.6695C4.69671 28.123 4.65983 27.5945 4.67136 27.0646L4.67139 27.0629C4.69279 25.8927 4.72491 24.722 4.7571 23.5487L4.75713 23.5479C4.78929 22.3756 4.82153 21.2007 4.84303 20.0254L4.84304 20.0253C4.86216 18.9639 4.86855 17.9 4.87492 16.8397C4.87793 16.3387 4.88094 15.8385 4.88528 15.3397C4.90374 15.2626 4.90411 15.1943 4.90115 15.1468C4.89713 15.0825 4.88272 15.0139 4.87767 14.9899C4.87708 14.9871 4.87662 14.9849 4.87632 14.9834ZM0.496588 14.3432L0.497558 14.3418L0.496588 14.3432Z" fill="white" stroke="black" />
            </svg>
            <h6 class="text-md md:text-xl font-semibold mb-3"> Find Component </h6>
            <p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus. </p>
          </div>
        </div>
        <div class="mb-20 mt-20 flex items-center w-full">
          <div class="w-1/2 text-right pr-5 md:pr-12">
            <div class="inline-block bg-gray-100 px-4 py-2 rounded-lg">
              <h5 class="text-lg md:text-2xl font-semibold">Step 2</h5>
            </div>
          </div>
          <div class="w-4 h-4 md:w-5 md:h-5 rounded-full bg-black"></div>
          <div class="w-1/2 pl-5 md:pl-12">
            <svg class="mb-4" width="20" height="31" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9848 9.10266C15.8859 9.17418 16.7155 9.2457 17.5452 9.31722C17.7311 9.33152 17.9171 9.36013 18.0744 9.43165C18.3891 9.56039 18.5464 9.81785 18.575 10.1755C18.6036 10.6475 18.5178 11.0909 18.3462 11.52C18.1459 12.035 17.9314 12.5356 17.6882 13.0219C17.1017 14.2234 16.4581 15.3964 15.7572 16.5407C14.3697 18.7721 12.9965 20.9892 11.652 23.2492C11.0083 24.322 10.479 25.452 9.87828 26.5391C9.27752 27.6405 8.64815 28.7419 8.04739 29.8433C7.7184 30.4583 7.16055 30.7587 6.54548 30.9447C5.83029 31.1592 5.08649 30.7301 4.85762 30.0149C4.68598 29.4714 4.67167 28.9135 4.88623 28.3986C5.27244 27.4688 5.71586 26.5677 6.15928 25.6665C6.30231 25.3805 6.53118 25.1516 6.81725 24.98C7.24637 24.7225 7.47523 24.8083 7.58966 25.2803C7.60397 25.3233 7.60397 25.3662 7.63257 25.4806C7.7327 25.3376 7.80422 25.2517 7.86144 25.1516C8.8198 23.6068 9.69233 22.0048 10.479 20.3598C11.7092 17.7851 13.0824 15.2962 14.4555 12.7931C14.6558 12.4212 14.8989 12.0779 15.1135 11.706C15.1707 11.6058 15.2279 11.52 15.2995 11.3913C14.7988 11.3627 14.3411 11.3341 13.8977 11.3055C13.7689 11.2912 13.6974 11.3627 13.6259 11.4771C13.4543 11.7489 13.2826 12.0207 13.111 12.2924C12.7534 12.8932 12.2241 13.165 11.5232 13.1077C11.323 13.0934 11.1084 13.0934 10.9082 13.0362C10.3646 12.9075 10.0928 12.4212 10.2359 11.8776C10.2788 11.7203 10.3503 11.5772 10.4218 11.4342C11.7807 9.00253 13.1253 6.58518 14.4984 4.16783C14.8989 3.46694 15.3567 2.79465 15.7858 2.09376C15.843 1.99364 15.9002 1.90781 15.9717 1.77908C15.7715 1.76478 15.6284 1.76478 15.4711 1.73617C15.1135 1.67895 14.9276 1.4787 14.8846 1.16401C14.856 0.920847 14.9419 0.763504 15.1707 0.663377C15.3138 0.606161 15.4139 0.506034 15.5283 0.420211C15.657 0.320084 15.843 0.219957 16.0146 0.219957C16.7012 0.177045 17.3592 0.148438 18.0315 0.148438C18.2747 0.148438 18.5321 0.191349 18.7753 0.248565C19.2759 0.362996 19.5048 0.734896 19.3618 1.22123C19.2902 1.4787 19.1758 1.73617 19.0185 1.96503C18.4606 2.73744 17.9743 3.56706 17.5452 4.4396C16.8157 5.9129 16.0289 7.34329 15.185 8.74506C15.1278 8.84519 15.0706 8.94532 14.9848 9.10266Z" fill="black" />
              <path d="M4.87632 14.9834L4.79032 14.5534L4.35277 14.5825C4.30458 14.5858 4.25691 14.589 4.20969 14.5921C3.83277 14.6174 3.4841 14.6409 3.12436 14.6533L3.11634 14.6535L3.10833 14.6541C2.46439 14.697 1.81152 14.7396 1.17406 14.7679L1.16026 14.7685L1.14651 14.7699C1.03678 14.7808 0.94154 14.7809 0.831866 14.7699C0.677975 14.754 0.596687 14.6919 0.555839 14.6352C0.515038 14.5786 0.481819 14.4819 0.510947 14.3344L0.513246 14.3253L0.516274 14.3137L0.527735 14.2965L0.547744 14.244C1.20286 12.5262 1.66648 10.7707 2.09628 9.02293C2.58181 7.09509 3.08174 5.16678 3.58198 3.25157C3.63055 3.07125 3.68276 2.89019 3.73643 2.70413L3.73703 2.70207C3.7899 2.51878 3.84419 2.33059 3.8951 2.14165C3.95121 1.94684 4.02296 1.82903 4.09688 1.75763C4.16417 1.69263 4.26295 1.63678 4.43721 1.61824C4.69242 1.59268 4.9451 1.55887 5.18784 1.52639C5.22649 1.52121 5.26488 1.51608 5.30299 1.51101C5.58364 1.47371 5.85274 1.43978 6.1222 1.41946C8.71033 1.26118 11.2954 0.973829 13.8547 0.673578C14.4896 0.603056 15.1394 0.546547 15.7755 0.504125C15.9643 0.492403 16.1368 0.505498 16.2868 0.545492L16.2867 0.545682L16.3004 0.548915C16.4353 0.58087 16.4983 0.648803 16.527 0.709278C16.5572 0.772897 16.5704 0.874466 16.5159 1.00494C16.4668 1.11136 16.3952 1.21597 16.292 1.36337L16.2864 1.37144L16.2811 1.37973C16.2111 1.48858 16.14 1.59806 16.0685 1.70816C15.883 1.99373 15.6948 2.28355 15.5162 2.57784L15.5161 2.57781L15.5129 2.58333C15.3279 2.89698 15.1447 3.2096 14.962 3.52123C14.4917 4.32359 14.0252 5.11942 13.5428 5.90963C12.8724 7.00802 12.1875 8.10676 11.5011 9.20783C11.3046 9.51661 11.1076 9.81204 10.9074 10.1124C10.8577 10.187 10.8061 10.2738 10.7505 10.3674C10.7323 10.3981 10.7136 10.4295 10.6944 10.4615L10.2401 11.2188H11.1232H11.124H11.1248H11.1257H11.1265H11.1273H11.1282H11.129H11.1298H11.1306H11.1315H11.1323H11.1331H11.1339H11.1348H11.1356H11.1364H11.1372H11.138H11.1388H11.1397H11.1405H11.1413H11.1421H11.1429H11.1437H11.1445H11.1453H11.1461H11.1469H11.1477H11.1485H11.1493H11.1501H11.1509H11.1517H11.1525H11.1533H11.1541H11.1549H11.1557H11.1564H11.1572H11.158H11.1588H11.1596H11.1604H11.1611H11.1619H11.1627H11.1635H11.1642H11.165H11.1658H11.1666H11.1673H11.1681H11.1689H11.1696H11.1704H11.1712H11.1719H11.1727H11.1735H11.1742H11.175H11.1757H11.1765H11.1772H11.178H11.1788H11.1795H11.1803H11.181H11.1818H11.1825H11.1833H11.184H11.1847H11.1855H11.1862H11.187H11.1877H11.1884H11.1892H11.1899H11.1907H11.1914H11.1921H11.1929H11.1936H11.1943H11.195H11.1958H11.1965H11.1972H11.198H11.1987H11.1994H11.2001H11.2008H11.2016H11.2023H11.203H11.2037H11.2044H11.2051H11.2059H11.2066H11.2073H11.208H11.2087H11.2094H11.2101H11.2108H11.2115H11.2122H11.2129H11.2136H11.2143H11.215H11.2157H11.2164H11.2171H11.2178H11.2185H11.2192H11.2199H11.2206H11.2213H11.222H11.2227H11.2234H11.224H11.2247H11.2254H11.2261H11.2268H11.2275H11.2281H11.2288H11.2295H11.2302H11.2309H11.2315H11.2322H11.2329H11.2336H11.2342H11.2349H11.2356H11.2362H11.2369H11.2376H11.2382H11.2389H11.2396H11.2402H11.2409H11.2416H11.2422H11.2429H11.2436H11.2442H11.2449H11.2455H11.2462H11.2468H11.2475H11.2481H11.2488H11.2495H11.2501H11.2508H11.2514H11.2521H11.2527H11.2533H11.254H11.2546H11.2553H11.2559H11.2566H11.2572H11.2579H11.2585H11.2591H11.2598H11.2604H11.261H11.2617H11.2623H11.2629H11.2636H11.2642H11.2648H11.2655H11.2661H11.2667H11.2674H11.268H11.2686H11.2692H11.2699H11.2705H11.2711H11.2717H11.2724H11.273H11.2736H11.2742H11.2748H11.2755H11.2761H11.2767H11.2773H11.2779H11.2785H11.2792H11.2798H11.2804H11.281H11.2816H11.2822H11.2828H11.2834H11.284H11.2847H11.2853H11.2859H11.2865H11.2871H11.2877H11.2883H11.2889H11.2895H11.2901H11.2907H11.2913H11.2919H11.2925H11.2931H11.2937H11.2943H11.2949H11.2955H11.2961H11.2966H11.2972H11.2978H11.2984H11.299H11.2996H11.3002H11.3008H11.3014H11.302H11.3025H11.3031H11.3037H11.3043H11.3049H11.3055H11.306H11.3066H11.3072H11.3078H11.3084H11.3089H11.3095H11.3101H11.3107H11.3113H11.3118H11.3124H11.313H11.3136H11.3141H11.3147H11.3153H11.3158H11.3164H11.317H11.3176H11.3181H11.3187H11.3193H11.3198H11.3204H11.321H11.3215H11.3221H11.3227H11.3232H11.3238H11.3244H11.3249H11.3255H11.326H11.3266H11.3272H11.3277H11.3283H11.3288H11.3294H11.33H11.3305H11.3311H11.3316H11.3322H11.3327H11.3333H11.3339H11.3344H11.335H11.3355H11.3361H11.3366H11.3372H11.3377H11.3383H11.3388H11.3394H11.3399H11.3405H11.341H11.3416H11.3421H11.3427H11.3432H11.3437H11.3443H11.3448H11.3454H11.3459H11.3465H11.347H11.3476H11.3481H11.3486H11.3492H11.3497H11.3503H11.3508H11.3513H11.3519H11.3524H11.3529H11.3535H11.354H11.3546H11.3551H11.3556H11.3562H11.3567H11.3572H11.3578H11.3583H11.3588H11.3594H11.3599H11.3604H11.361H11.3615H11.362H11.3626H11.3631H11.3636H11.3642H11.3647H11.3652H11.3657H11.3663H11.3668H11.3673H11.3678H11.3684H11.3689H11.3694H11.37H11.3705H11.371H11.3715H11.3721H11.3726H11.3731H11.3736H11.3741H11.3747H11.3752H11.3757H11.3762H11.3768H11.3773H11.3778H11.3783H11.3788H11.3794H11.3799H11.3804H11.3809H11.3814H11.382H11.3825H11.383H11.3835H11.384H11.3845H11.3851H11.3856H11.3861H11.3866H11.3871H11.3876H11.3882H11.3887H11.3892H11.3897H11.3902H11.3907H11.3912H11.3918H11.3923H11.3928H11.3933H11.3938H11.3943H11.3948H11.3953H11.3959H11.3964H11.3969H11.3974H11.3979H11.3984H11.3989H11.3994H11.3999H11.4005H11.401H11.4015H11.402H11.4025H11.403H11.4035H11.404H11.4045H11.405H11.4055H11.406H11.4066H11.4071H11.4076H11.4081H11.4086H11.4091H11.4096H11.4101H11.4106H11.4111H11.4116H11.4121H11.4126H11.4131H11.4137H11.4142H11.4147H11.4152H11.4157H11.4162H11.4167H11.4172H11.4177H11.4182H11.4187H11.4192H11.4197H11.4202H11.4207H11.4212H11.4217H11.4222H11.4227H11.4232H11.4237H11.4243H11.4248H11.4253H11.4258H11.4263H11.4268H11.4273H11.4278H11.4283H11.4288H11.4293H11.4298H11.4303H11.4308H11.4313H11.4318H11.4323H11.4328H11.4333H11.4338H11.4343H11.4348C12.0289 11.2259 12.6226 11.2295 13.2147 11.233L13.2157 11.2331C13.8095 11.2366 14.4016 11.2402 14.9935 11.2473V11.2474H14.9995C15.0385 11.2474 15.0989 11.2544 15.1773 11.2672C15.3119 11.2979 15.384 11.3663 15.4185 11.4297C15.4536 11.4943 15.4714 11.5935 15.4203 11.7248L15.4197 11.7265C15.3793 11.8314 15.2968 11.9498 15.1704 12.1043L15.1646 12.1113L15.1591 12.1186C14.9681 12.3701 14.7734 12.623 14.5774 12.8775C14.1808 13.3925 13.7792 13.9139 13.3939 14.4436C13.103 14.8418 12.8471 15.2796 12.6251 15.7085C11.4667 17.9109 10.3217 20.1008 9.19065 22.3199C8.487 23.6843 7.79175 25.0627 7.09873 26.4367C6.63684 27.3525 6.17593 28.2663 5.71418 29.1726L5.71249 29.176C5.63461 29.3318 5.56315 29.4464 5.47716 29.5324L5.47709 29.5323L5.47003 29.5397C5.38478 29.6285 5.31464 29.6444 5.26562 29.6435C5.20929 29.6425 5.11915 29.617 5.01293 29.5201C4.84075 29.3566 4.76509 29.1901 4.75686 28.9926L4.75701 28.9926L4.75619 28.9802C4.74923 28.8759 4.74201 28.7723 4.73483 28.6695C4.69671 28.123 4.65983 27.5945 4.67136 27.0646L4.67139 27.0629C4.69279 25.8927 4.72491 24.722 4.7571 23.5487L4.75713 23.5479C4.78929 22.3756 4.82153 21.2007 4.84303 20.0254L4.84304 20.0253C4.86216 18.9639 4.86855 17.9 4.87492 16.8397C4.87793 16.3387 4.88094 15.8385 4.88528 15.3397C4.90374 15.2626 4.90411 15.1943 4.90115 15.1468C4.89713 15.0825 4.88272 15.0139 4.87767 14.9899C4.87708 14.9871 4.87662 14.9849 4.87632 14.9834ZM0.496588 14.3432L0.497558 14.3418L0.496588 14.3432Z" fill="white" stroke="black" />
            </svg>
            <h6 class="text-md md:text-xl font-semibold mb-3"> Copy and Paste </h6>
            <p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus. </p>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="relative">
        <div class="absolute w-1 md:w-2 bg-gray-300 h-full left-1/2 transform -translate-x-1/2"></div>
        <div class="mb-20 mt-20 flex items-center w-full">
          <div class="w-1/2 text-right pr-5 md:pr-12">
            <div class="inline-block bg-gray-100 px-4 py-2 rounded-lg">
              <h5 class="text-lg md:text-2xl font-semibold text-gray-500"> Step 3 </h5>
            </div>
          </div>
          <div class="w-4 h-4 md:w-5 md:h-5 rounded-full bg-gray-300"></div>
          <div class="w-1/2 pl-5 md:pl-12">
            <svg class="mb-4" width="20" height="31" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9848 9.10266C15.8859 9.17418 16.7155 9.2457 17.5452 9.31722C17.7311 9.33152 17.9171 9.36013 18.0744 9.43165C18.3891 9.56039 18.5464 9.81785 18.575 10.1755C18.6036 10.6475 18.5178 11.0909 18.3462 11.52C18.1459 12.035 17.9314 12.5356 17.6882 13.0219C17.1017 14.2234 16.4581 15.3964 15.7572 16.5407C14.3697 18.7721 12.9965 20.9892 11.652 23.2492C11.0083 24.322 10.479 25.452 9.87828 26.5391C9.27752 27.6405 8.64815 28.7419 8.04739 29.8433C7.7184 30.4583 7.16055 30.7587 6.54548 30.9447C5.83029 31.1592 5.08649 30.7301 4.85762 30.0149C4.68598 29.4714 4.67167 28.9135 4.88623 28.3986C5.27244 27.4688 5.71586 26.5677 6.15928 25.6665C6.30231 25.3805 6.53118 25.1516 6.81725 24.98C7.24637 24.7225 7.47523 24.8083 7.58966 25.2803C7.60397 25.3233 7.60397 25.3662 7.63257 25.4806C7.7327 25.3376 7.80422 25.2517 7.86144 25.1516C8.8198 23.6068 9.69233 22.0048 10.479 20.3598C11.7092 17.7851 13.0824 15.2962 14.4555 12.7931C14.6558 12.4212 14.8989 12.0779 15.1135 11.706C15.1707 11.6058 15.2279 11.52 15.2995 11.3913C14.7988 11.3627 14.3411 11.3341 13.8977 11.3055C13.7689 11.2912 13.6974 11.3627 13.6259 11.4771C13.4543 11.7489 13.2826 12.0207 13.111 12.2924C12.7534 12.8932 12.2241 13.165 11.5232 13.1077C11.323 13.0934 11.1084 13.0934 10.9082 13.0362C10.3646 12.9075 10.0928 12.4212 10.2359 11.8776C10.2788 11.7203 10.3503 11.5772 10.4218 11.4342C11.7807 9.00253 13.1253 6.58518 14.4984 4.16783C14.8989 3.46694 15.3567 2.79465 15.7858 2.09376C15.843 1.99364 15.9002 1.90781 15.9717 1.77908C15.7715 1.76478 15.6284 1.76478 15.4711 1.73617C15.1135 1.67895 14.9276 1.4787 14.8846 1.16401C14.856 0.920847 14.9419 0.763504 15.1707 0.663377C15.3138 0.606161 15.4139 0.506034 15.5283 0.420211C15.657 0.320084 15.843 0.219957 16.0146 0.219957C16.7012 0.177045 17.3592 0.148438 18.0315 0.148438C18.2747 0.148438 18.5321 0.191349 18.7753 0.248565C19.2759 0.362996 19.5048 0.734896 19.3618 1.22123C19.2902 1.4787 19.1758 1.73617 19.0185 1.96503C18.4606 2.73744 17.9743 3.56706 17.5452 4.4396C16.8157 5.9129 16.0289 7.34329 15.185 8.74506C15.1278 8.84519 15.0706 8.94532 14.9848 9.10266Z" fill="black" />
              <path d="M4.87632 14.9834L4.79032 14.5534L4.35277 14.5825C4.30458 14.5858 4.25691 14.589 4.20969 14.5921C3.83277 14.6174 3.4841 14.6409 3.12436 14.6533L3.11634 14.6535L3.10833 14.6541C2.46439 14.697 1.81152 14.7396 1.17406 14.7679L1.16026 14.7685L1.14651 14.7699C1.03678 14.7808 0.94154 14.7809 0.831866 14.7699C0.677975 14.754 0.596687 14.6919 0.555839 14.6352C0.515038 14.5786 0.481819 14.4819 0.510947 14.3344L0.513246 14.3253L0.516274 14.3137L0.527735 14.2965L0.547744 14.244C1.20286 12.5262 1.66648 10.7707 2.09628 9.02293C2.58181 7.09509 3.08174 5.16678 3.58198 3.25157C3.63055 3.07125 3.68276 2.89019 3.73643 2.70413L3.73703 2.70207C3.7899 2.51878 3.84419 2.33059 3.8951 2.14165C3.95121 1.94684 4.02296 1.82903 4.09688 1.75763C4.16417 1.69263 4.26295 1.63678 4.43721 1.61824C4.69242 1.59268 4.9451 1.55887 5.18784 1.52639C5.22649 1.52121 5.26488 1.51608 5.30299 1.51101C5.58364 1.47371 5.85274 1.43978 6.1222 1.41946C8.71033 1.26118 11.2954 0.973829 13.8547 0.673578C14.4896 0.603056 15.1394 0.546547 15.7755 0.504125C15.9643 0.492403 16.1368 0.505498 16.2868 0.545492L16.2867 0.545682L16.3004 0.548915C16.4353 0.58087 16.4983 0.648803 16.527 0.709278C16.5572 0.772897 16.5704 0.874466 16.5159 1.00494C16.4668 1.11136 16.3952 1.21597 16.292 1.36337L16.2864 1.37144L16.2811 1.37973C16.2111 1.48858 16.14 1.59806 16.0685 1.70816C15.883 1.99373 15.6948 2.28355 15.5162 2.57784L15.5161 2.57781L15.5129 2.58333C15.3279 2.89698 15.1447 3.2096 14.962 3.52123C14.4917 4.32359 14.0252 5.11942 13.5428 5.90963C12.8724 7.00802 12.1875 8.10676 11.5011 9.20783C11.3046 9.51661 11.1076 9.81204 10.9074 10.1124C10.8577 10.187 10.8061 10.2738 10.7505 10.3674C10.7323 10.3981 10.7136 10.4295 10.6944 10.4615L10.2401 11.2188H11.1232H11.124H11.1248H11.1257H11.1265H11.1273H11.1282H11.129H11.1298H11.1306H11.1315H11.1323H11.1331H11.1339H11.1348H11.1356H11.1364H11.1372H11.138H11.1388H11.1397H11.1405H11.1413H11.1421H11.1429H11.1437H11.1445H11.1453H11.1461H11.1469H11.1477H11.1485H11.1493H11.1501H11.1509H11.1517H11.1525H11.1533H11.1541H11.1549H11.1557H11.1564H11.1572H11.158H11.1588H11.1596H11.1604H11.1611H11.1619H11.1627H11.1635H11.1642H11.165H11.1658H11.1666H11.1673H11.1681H11.1689H11.1696H11.1704H11.1712H11.1719H11.1727H11.1735H11.1742H11.175H11.1757H11.1765H11.1772H11.178H11.1788H11.1795H11.1803H11.181H11.1818H11.1825H11.1833H11.184H11.1847H11.1855H11.1862H11.187H11.1877H11.1884H11.1892H11.1899H11.1907H11.1914H11.1921H11.1929H11.1936H11.1943H11.195H11.1958H11.1965H11.1972H11.198H11.1987H11.1994H11.2001H11.2008H11.2016H11.2023H11.203H11.2037H11.2044H11.2051H11.2059H11.2066H11.2073H11.208H11.2087H11.2094H11.2101H11.2108H11.2115H11.2122H11.2129H11.2136H11.2143H11.215H11.2157H11.2164H11.2171H11.2178H11.2185H11.2192H11.2199H11.2206H11.2213H11.222H11.2227H11.2234H11.224H11.2247H11.2254H11.2261H11.2268H11.2275H11.2281H11.2288H11.2295H11.2302H11.2309H11.2315H11.2322H11.2329H11.2336H11.2342H11.2349H11.2356H11.2362H11.2369H11.2376H11.2382H11.2389H11.2396H11.2402H11.2409H11.2416H11.2422H11.2429H11.2436H11.2442H11.2449H11.2455H11.2462H11.2468H11.2475H11.2481H11.2488H11.2495H11.2501H11.2508H11.2514H11.2521H11.2527H11.2533H11.254H11.2546H11.2553H11.2559H11.2566H11.2572H11.2579H11.2585H11.2591H11.2598H11.2604H11.261H11.2617H11.2623H11.2629H11.2636H11.2642H11.2648H11.2655H11.2661H11.2667H11.2674H11.268H11.2686H11.2692H11.2699H11.2705H11.2711H11.2717H11.2724H11.273H11.2736H11.2742H11.2748H11.2755H11.2761H11.2767H11.2773H11.2779H11.2785H11.2792H11.2798H11.2804H11.281H11.2816H11.2822H11.2828H11.2834H11.284H11.2847H11.2853H11.2859H11.2865H11.2871H11.2877H11.2883H11.2889H11.2895H11.2901H11.2907H11.2913H11.2919H11.2925H11.2931H11.2937H11.2943H11.2949H11.2955H11.2961H11.2966H11.2972H11.2978H11.2984H11.299H11.2996H11.3002H11.3008H11.3014H11.302H11.3025H11.3031H11.3037H11.3043H11.3049H11.3055H11.306H11.3066H11.3072H11.3078H11.3084H11.3089H11.3095H11.3101H11.3107H11.3113H11.3118H11.3124H11.313H11.3136H11.3141H11.3147H11.3153H11.3158H11.3164H11.317H11.3176H11.3181H11.3187H11.3193H11.3198H11.3204H11.321H11.3215H11.3221H11.3227H11.3232H11.3238H11.3244H11.3249H11.3255H11.326H11.3266H11.3272H11.3277H11.3283H11.3288H11.3294H11.33H11.3305H11.3311H11.3316H11.3322H11.3327H11.3333H11.3339H11.3344H11.335H11.3355H11.3361H11.3366H11.3372H11.3377H11.3383H11.3388H11.3394H11.3399H11.3405H11.341H11.3416H11.3421H11.3427H11.3432H11.3437H11.3443H11.3448H11.3454H11.3459H11.3465H11.347H11.3476H11.3481H11.3486H11.3492H11.3497H11.3503H11.3508H11.3513H11.3519H11.3524H11.3529H11.3535H11.354H11.3546H11.3551H11.3556H11.3562H11.3567H11.3572H11.3578H11.3583H11.3588H11.3594H11.3599H11.3604H11.361H11.3615H11.362H11.3626H11.3631H11.3636H11.3642H11.3647H11.3652H11.3657H11.3663H11.3668H11.3673H11.3678H11.3684H11.3689H11.3694H11.37H11.3705H11.371H11.3715H11.3721H11.3726H11.3731H11.3736H11.3741H11.3747H11.3752H11.3757H11.3762H11.3768H11.3773H11.3778H11.3783H11.3788H11.3794H11.3799H11.3804H11.3809H11.3814H11.382H11.3825H11.383H11.3835H11.384H11.3845H11.3851H11.3856H11.3861H11.3866H11.3871H11.3876H11.3882H11.3887H11.3892H11.3897H11.3902H11.3907H11.3912H11.3918H11.3923H11.3928H11.3933H11.3938H11.3943H11.3948H11.3953H11.3959H11.3964H11.3969H11.3974H11.3979H11.3984H11.3989H11.3994H11.3999H11.4005H11.401H11.4015H11.402H11.4025H11.403H11.4035H11.404H11.4045H11.405H11.4055H11.406H11.4066H11.4071H11.4076H11.4081H11.4086H11.4091H11.4096H11.4101H11.4106H11.4111H11.4116H11.4121H11.4126H11.4131H11.4137H11.4142H11.4147H11.4152H11.4157H11.4162H11.4167H11.4172H11.4177H11.4182H11.4187H11.4192H11.4197H11.4202H11.4207H11.4212H11.4217H11.4222H11.4227H11.4232H11.4237H11.4243H11.4248H11.4253H11.4258H11.4263H11.4268H11.4273H11.4278H11.4283H11.4288H11.4293H11.4298H11.4303H11.4308H11.4313H11.4318H11.4323H11.4328H11.4333H11.4338H11.4343H11.4348C12.0289 11.2259 12.6226 11.2295 13.2147 11.233L13.2157 11.2331C13.8095 11.2366 14.4016 11.2402 14.9935 11.2473V11.2474H14.9995C15.0385 11.2474 15.0989 11.2544 15.1773 11.2672C15.3119 11.2979 15.384 11.3663 15.4185 11.4297C15.4536 11.4943 15.4714 11.5935 15.4203 11.7248L15.4197 11.7265C15.3793 11.8314 15.2968 11.9498 15.1704 12.1043L15.1646 12.1113L15.1591 12.1186C14.9681 12.3701 14.7734 12.623 14.5774 12.8775C14.1808 13.3925 13.7792 13.9139 13.3939 14.4436C13.103 14.8418 12.8471 15.2796 12.6251 15.7085C11.4667 17.9109 10.3217 20.1008 9.19065 22.3199C8.487 23.6843 7.79175 25.0627 7.09873 26.4367C6.63684 27.3525 6.17593 28.2663 5.71418 29.1726L5.71249 29.176C5.63461 29.3318 5.56315 29.4464 5.47716 29.5324L5.47709 29.5323L5.47003 29.5397C5.38478 29.6285 5.31464 29.6444 5.26562 29.6435C5.20929 29.6425 5.11915 29.617 5.01293 29.5201C4.84075 29.3566 4.76509 29.1901 4.75686 28.9926L4.75701 28.9926L4.75619 28.9802C4.74923 28.8759 4.74201 28.7723 4.73483 28.6695C4.69671 28.123 4.65983 27.5945 4.67136 27.0646L4.67139 27.0629C4.69279 25.8927 4.72491 24.722 4.7571 23.5487L4.75713 23.5479C4.78929 22.3756 4.82153 21.2007 4.84303 20.0254L4.84304 20.0253C4.86216 18.9639 4.86855 17.9 4.87492 16.8397C4.87793 16.3387 4.88094 15.8385 4.88528 15.3397C4.90374 15.2626 4.90411 15.1943 4.90115 15.1468C4.89713 15.0825 4.88272 15.0139 4.87767 14.9899C4.87708 14.9871 4.87662 14.9849 4.87632 14.9834ZM0.496588 14.3432L0.497558 14.3418L0.496588 14.3432Z" fill="white" stroke="black" />
            </svg>
            <h6 class="text-md md:text-xl font-semibold mb-3">Done!</h6>
            <p class="text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus. </p>
          </div>
        </div>
      </div>
    </div>
  </div>







<div class="max-w-5xl mx-auto py-10">
      <div class="flex flex-row">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-gray-300 rounded mr-4 uppercase flex flex-col items-center justify-center">
               <div class="text-3xl font-black text-gray-500">Step 1</div>
               <div class="text-gray-500 text-sm">Idea</div>
            </div>
            <div class="h-full border-l-4 border-transparent">
               <div class="border-l-4 mr-4 h-full border-gray-300 border-dashed"></div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-gray-300">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-gray-500"><span class="font-black">Step 1</span> - Idea</div>
                  <div class="p-3 text-3xl text-gray-800 font">Find your best idea</div>
                  <div class="px-3 pb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim consequatur nihil ipsum.</div>
               </div>
               <div class="md:w-96 w-full p-5"><img src="/images/instagram-video.webp" alt="step 1" decoding="async" width="520" height="480" class="object-scale-down"></div>
            </div>
         </div>
      </div>
      <div class="flex items-start flex-row">
         <div class="border-t-4 border-r-4 border-transparent">
            <div class="w-16 ml-16 h-16 border-l-4 border-gray-300 border-dashed border-b-4 rounded-bl-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-gray-300 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-gray-300 border-dashed border-t-4 rounded-tr-full"></div>
      </div>
      <div class="flex flex-row-reverse">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-gray-300 rounded ml-4 uppercase flex flex-col items-center justify-center">
               <div class="text-3xl font-black text-gray-500">Step 2</div>
               <div class="text-gray-500 text-sm">Collaboration</div>
            </div>
            <div class="h-full border-r-4 border-transparent">
               <div class="border-l-4 ml-4 h-full border-gray-300 border-dashed"></div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-gray-300">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-gray-500"><span class="font-black">Step 2</span> - Collaboration</div>
                  <div class="p-3 text-3xl text-gray-800 font">Find your team and collaborate</div>
                  <div class="px-3 pb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim consequatur nihil ipsum.</div>
               </div>
               <div class="md:w-96 w-full p-5"><img src="https://image.flaticon.com/icons/svg/1330/1330216.svg" alt="step 2" class="object-scale-down"></div>
            </div>
         </div>
      </div>
      <div class="flex items-start flex-row-reverse">
         <div class="border-t-4 border-l-4 border-transparent">
            <div class="w-16 mr-16 h-16 border-r-4 border-gray-300 border-dashed border-b-4 rounded-br-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-gray-300 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 ml-16 h-16 border-l-4 border-gray-300 border-dashed border-t-4 rounded-tl-full"></div>
      </div>
      <div class="flex flex-row">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-gray-300 rounded mr-4 uppercase flex flex-col items-center justify-center">
               <div class="text-3xl font-black text-gray-500">Step 3</div>
               <div class="text-gray-500 text-sm">Planification</div>
            </div>
            <div class="h-full border-l-4 border-transparent">
               <div class="border-l-4 mr-4 h-full border-gray-300 border-dashed"></div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-gray-300">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-gray-500"><span class="font-black">Step 3</span> - Planification</div>
                  <div class="p-3 text-3xl text-gray-800 font">Make a good plan and prepare tasks</div>
                  <div class="px-3 pb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim consequatur nihil ipsum.</div>
               </div>
               <div class="md:w-96 w-full p-5"><img src="https://image.flaticon.com/icons/svg/1330/1330216.svg" alt="step 3" class="object-scale-down"></div>
            </div>
         </div>
      </div>
      <div class="flex items-start flex-row">
         <div class="border-t-4 border-r-4 border-transparent">
            <div class="w-16 ml-16 h-16 border-l-4 border-gray-300 border-dashed border-b-4 rounded-bl-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-gray-300 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-gray-300 border-dashed border-t-4 rounded-tr-full"></div>
      </div>
      <div class="flex flex-row-reverse">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-gray-300 rounded ml-4 uppercase flex flex-col items-center justify-center">
               <div class="text-3xl font-black text-gray-500">Step 4</div>
               <div class="text-gray-500 text-sm">Implementation</div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-gray-300">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-gray-500"><span class="font-black">Step 4</span> - Implementation</div>
                  <div class="p-3 text-3xl text-gray-800 font">Execute, impletement your solution</div>
                  <div class="px-3 pb-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates error alias dolorem praesentium sit soluta iure incidunt labore explicabo eaque, quia architecto veritatis dolores, enim consequatur nihil ipsum.</div>
               </div>
               <div class="md:w-96 w-full p-5"><img src="https://image.flaticon.com/icons/svg/1330/1330216.svg" alt="step 4" class="object-scale-down"></div>
            </div>
         </div>
      </div>
   </div>






                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Election
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #people
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Election2020
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #trump
                </a>,
                <a href="#"
                    class="text-xs text-indigo-600 font-medium hover:text-gray-900 transition duration-500 ease-in-out">
                    #Joe
                </a>

            </div>

        </div>
    </div>
</div>







			<center>
			<div class="lg:col-7 md:col-9 mb-8 text-center">
				<h1 class="text-center" style="font-size:1.75rem; font-weight:500">{t("videos.title")}</h1>
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.support")}</p> 
			</div>
			</center>

			<div class="row items-center"> 
				<div class="mb:md-0 mb-6 md:col-5 false"> 
				<img src="/images/instagram-video.webp" alt="Instagram video downloader" decoding="async" width="520" height="480">
				</div>
 
			<div class="md:col-7 lg:col-6 false"> 
				<h2 class="mb-4" style="font-size:1.5rem; font-weight:600"><a href={`/`}> {t("videos.igvDown")}</a></h2> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secVideo")}</p> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secVideo2")}</p> 
			</div>

			</div>
			<br/>


			<div class="row items-center"> 
				<div class="mb:md-0 mb-6 md:col-5 md:order-2"> 
				<img src="/images/instagram-photo-downloader.webp" alt="Instagram photo downloader" decoding="async" width="520" height="480">
				</div> 

			<div class="md:col-7 lg:col-6 md:order-1"> 
				<h2 class="mb-4" style="font-size:1.5rem; font-weight:600"><a href={`/instagram-photo-download`}> {t("videos.igphtitle")}</a></h2> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secPhoto")}</p> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secPhoto2")}</p> 
			</div> 

			</div>
			<br/>


			<div class="row items-center">
				<div class="mb:md-0 mb-6 md:col-5 false"> 
				<img src="/images/instagram-reels-download.webp" alt="Instagram Reels downloader" decoding="async" width="520" height="480">
				</div>

			<div class="md:col-7 lg:col-6 false"> 
				<h2 class="mb-4" style="font-size:1.5rem; font-weight:600"><a href={`/instagram-reels-video-download`}> {t("videos.igreeltitle")}</a></h2> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secreel")}</p> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secreel2")}</p> 
			</div>

			</div>
			<br/>


			<div class="row items-center">
				<div class="mb:md-0 mb-6 md:col-5 md:order-2"> 
				<img src="/images/instagram-story-download.webp" alt="Instagram Story downloader" decoding="async" width="520" height="480">
				</div>
 
			<div class="md:col-7 lg:col-6 md:order-1"> 
				<h2 class="mb-4" style="font-size:1.5rem; font-weight:600"><a href={`/instagram-story-download`}> {t("videos.igstorytitle")}</a></h2> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secstory")}</p> 
				<p class="mb-8 text-lg" style="font-size:1rem; font-weight:normal">{t("videos.secstory2")}</p> 
			</div>

			</div>

			<br/>


</div>




<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
        SaveInsta Downloader
      </p>
    </div>
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-2xl md:mx-auto">
      <span class="relative inline-block">
       
      </span>
     {t("videos.howto")}
    </h2>
    <p class="text-base text-gray-700 md:text-lg"><strong>{t("videos.howtonote")}</strong>{t("videos.how2note")}</p>
  </div>
  <div class="grid gap-8 row-gap-8 lg:grid-cols-3">
    <div class="sm:text-center">
      <div class="flex items-center justify-center w-24 h-24 mb-4 text-5xl font-extrabold rounded-full text-deep-purple-accent-400 bg-indigo-50 sm:mx-auto">
        1
      </div>
      <h3 class="mb-2 font-normal text-xl leading-5">{t("videos.howtouse")}</h3>
      <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">{t("videos.1step")}</p>
    </div>
    <div class="sm:text-center">
      <div class="flex items-center justify-center w-24 h-24 mb-4 text-5xl font-extrabold rounded-full text-deep-purple-accent-400 bg-indigo-50 sm:mx-auto">
        2
      </div>
      <h3 class="mb-2 font-normal text-xl leading-5">{t("videos.howto2")}</h3>
      <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">{t("videos.2step")}</p>
    </div>
    <div class="sm:text-center">
      <div class="flex items-center justify-center w-24 h-24 mb-4 text-5xl font-extrabold rounded-full text-deep-purple-accent-400 bg-indigo-50 sm:mx-auto">
        3
      </div>
      <h3 class="mb-2 font-normal text-xl leading-5">{t("videos.howto3")}</h3>
      <p class="max-w-md mb-3 text-sm text-gray-900 sm:mx-auto">{t("videos.3step")}</p>
    </div>
  </div>
</div>




  <div class="mr-auto ml-auto max-w-xl sm:mx-auto lg:max-w-2xl">
  <div class="mt-0 mr-0 mb-16 ml-0 flex flex-col sm:text-center">
   
    <div class="mt-0 mr-auto mb-6 ml-auto text-3xl font-bold leading-none tracking-tight text-gray-900 max-w-lg
        font-sans sm:text-4xl md:mx-auto">
      <div class="relative">
        
        <p class="font-bold text-gray-900 text-3xl inline tracking-tight relative font-sans sm:text-4xl
            sm:leading-none">{t("videos.faqh")}</p>
      </div>
    </div>
  </div>
<p class="text-gray-700 text-base md:text-lg">{t("videos.tos")}</p>
 
  <div class="space-y-4">
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">{t("videos.faqq1")}</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">{t("videos.faqa1")}</p>
      </div>
    </div>
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">{t("videos.faqq2")}</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">{t("videos.faqa2")}</p>
      </div>
    </div>
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">{t("videos.faqq3")}</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">{t("videos.faqa3")}</p>
      </div>
    </div>
    <div class="border-b">
      <div class="flex items-center w-full pt-4 pr-4 pb-4 pl-4 focus:outline-none">
        <p class="text-lg font-medium">How much money you got on you?</p>
      </div>
      <div class="pt-0 pr-4 pb-4 pl-4">
        <p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            rem aperiam, eaque ipsa quae.</p>
      </div>
    </div>
  </div>
</div> 
   
  



        </div>
		</div>
    </section>


</Base>
